<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Telephant - Privacy Policy</title>
</head>

<body>
    Terms of Service is needed for Google OAuth2 setup. This is placeholder for testing now.
    Telephant provides no guarantees for the contents, functions and anything on this web. Data are provided by 3rd party
    and thus Telephant is no liable for accuracy, integrity and existence of the data.

    This is like a Wikipedia for network debugging - anyone can contribute.

    Malicious, inaccurate or fraudulent contributions are not welcome, but Telephant can not neither verify nor guarantee
    any of the contributions.
</body>
</html>
